[Unit]
Description=[omobusd: upd] service
After=local-fs.target network.target pure-ftpd.service
#Requires=pure-ftpd.service

[Service]
#Type=forking
PIDFile=/var/run/omobus.d/omobus-upd.pid
ExecStartPre=/bin/mkdir -m 0755 -p /var/run/omobus.d
ExecStartPre=/bin/chown omobus:omobus /var/run/omobus.d
ExecStart=/usr/local/sbin/omobusd upd -x -u omobus -g omobus -p /var/run/omobus.d/omobus-upd.pid
ExecStop=/bin/kill -s USR1 $MAINPID

[Install]
WantedBy=multi-user.target
